.give-feedback-container {
  margin: 2rem 1.25rem 0 1.25rem;
}

.header-text {
  color: var(--primary);
  font-family: 'EncodeSansSemibold';
  font-size: 1.125rem;
  text-align: left;
}

.label-text {
  color: var(--primary);
  font-family: 'EncodeSansMedium';
  font-size: 1.125rem;
  text-align: left;
}

.feedback-input {
  background-color: var(--inputColor);
  border: none;
  outline: none;
  resize: none;
  border-radius: 5px;
  padding: 1rem;
  width: -webkit-fill-available;
  height: 18.75rem;
}

.give-feedback-action-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.4375rem;
}

.custom-feedback-btn {
  width: 8.125rem;
  height: 2.5rem;
  font-family: 'EncodeSansMedium';
  font-size: 0.875rem !important;
  padding: 0 !important;
}
