.username {
  position: fixed;
  top: 2rem;
  color: var(--secondary);
  font-family: 'EncodeSansBold';
  font-size: 1rem;
  text-transform: capitalize;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 2.25rem;
  height: 1.875rem;
  right: 1.625rem;
  top: 1.625rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--secondary);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: var(--secondary);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  width: 2.25rem !important;
  height: 1.875rem !important;
  right: 1.5rem !important;
  top: 1.625rem !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: var(--secondary);
  width: 2.25rem !important;
  height: 0.375rem !important;
  right: -1.125rem !important;
  top: 0.5rem !important;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  top: 0;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: var(--primary);
  padding: 4.25em 0 0;
  font-size: 1.15em;
  overflow: hidden !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: var(--primary);
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  // display: inline-block;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  text-transform: uppercase;
  font-family: 'EncodeSansSemibold';
  background-color: var(--accent);
  color: var(--secondary);
  height: 4rem;
}

@media (min-width: 576px) {
  .username {
    font-size: 0.875rem;
  }
}

@media (min-width: 768px) {
  .username {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .username {
    font-size: 1.25rem;
  }
}

@media (min-width: 1200px) {
  .username {
    position: fixed;
    top: 1.75rem;
    font-size: 1.5rem;
  }
}
