// colors
:root {
  --primary: #6c63ff;
  --secondary: #fff;

  @font-face {
    font-family: 'EncodeSansLight';
    src: url('assets/fonts/Encode_Sans/encode-sans.light.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'EncodeSansRegular';
    src: url('assets/fonts/Encode_Sans/encode-sans.regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'EncodeSansSemibold';
    src: url('assets/fonts/Encode_Sans/encode-sans.semibold.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'EncodeSansMedium';
    src: url('assets/fonts/Encode_Sans/encode-sans.medium.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'EncodeSansBold';
    src: url('assets/fonts/Encode_Sans/encode-sans.bold.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'EncodeSansExtrabold';
    src: url('assets/fonts/Encode_Sans/encode-sans.extrabold.ttf');
    font-weight: normal;
    font-style: normal;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--primary);
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
